{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block main_content %}
    <div id="content">
        <div class="buffer">
            <!-- begin post -->
            <div id="content">
                <div class="buffer">
                    <!-- begin post -->
                    <div class="single">
                        <h2>{{ object.title }}</h2>
                        <p><img class="alignright" src="{{ object.image.url }}" width="200" height="150" alt=""/></p>
                        {{ object.description|safe }}
                        <blockquote>
                            <p>Proin vestibulum. Ut ligula. Nullam sed dolor id odio volutpat pulvinar. Integer a leo.
                                In et eros at neque pretium sagittis. Sed sodales lorem a ipsum suscipit gravida. Ut
                                fringilla placerat arcu. Phasellus imperdiet. Mauris ac justo et turpis pharetra
                                vulputate.</p>
                        </blockquote>
                        <p><cite><a href="#">Quote Source</a></cite></p>
                        <p>Inquisquet urna proin vel volutpat velit tellus vivamus nas nam ac. Atauctortor ligula nulla
                            volutpat laorem a sed curabitur et congue enim. Faciniacurabitudin estibulum montesque
                            consequam sent phasellentesque feugiat tristibulum et curabitur aliquat. Vestpartur ligula
                            urna eu curabitae egestassa nibh elit.</p>
                        <h3>An Ordered List</h3>
                        <ol>
                            <li>Vestibulum in mauris semper tortor interdum ultrices.</li>
                            <li>Sed vel lorem et justo laoreet bibendum. Donec dictum.</li>
                            <li>Etiam massa libero, lacinia at, commodo in, tincidunt a, purus.</li>
                            <li>Praesent volutpat eros quis enim blandit tincidunt.</li>
                            <li>Aenean eu libero nec lectus ultricies laoreet. Donec rutrum, nisi vel egestas ultrices,
                                ipsum urna sagittis libero, vitae vestibulum dui dolor vel velit.
                            </li>
                        </ol>
                        <p>Inquisquet urna proin vel volutpat velit tellus vivamus nas nam ac. Atauctortor ligula nulla
                            volutpat laorem a sed curabitur et congue enim. Faciniacurabitudin estibulum montesque
                            consequam sent phasellentesque feugiat tristibulum et curabitur aliquat. Vestpartur ligula
                            urna eu curabitae egestassa nibh elit.</p>
                        <h3>An Unordered List</h3>
                        <ul>
                            <li>Vestibulum in mauris semper tortor interdum ultrices.</li>
                            <li>Sed vel lorem et justo laoreet bibendum. Donec dictum.</li>
                            <li>Etiam massa libero, lacinia at, commodo in, tincidunt a, purus.</li>
                            <li>Praesent volutpat eros quis enim blandit tincidunt.</li>
                            <li>Aenean eu libero nec lectus ultricies laoreet. Donec rutrum, nisi vel egestas ultrices,
                                ipsum urna sagittis libero, vitae vestibulum dui dolor vel velit.
                            </li>
                        </ul>
                    </div>
                    <!-- end post -->
                </div>
            </div>
            <!-- end post -->
        </div>
    </div>
{% endblock %}