<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title itemprop="name"></title>
    <meta name="description" itemprop="description"
          content="Preview bootstrap html snippet. Small Newsletter template. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="keywords"
          content="html, css, javascript, themes, templates, code snippets, ui examples, react js, react-native, plagraounds, cards, front-end, profile, invoice, back-end, web-designers, web-developers">
    <link itemprop="sameAs" href="https://www.facebook.com/bootdey">
    <link itemprop="sameAs" href="https://twitter.com/bootdey">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://bootdey.com/snippets/view/Small-Newsletter-template" itemprop="url">
    <meta property="twitter:account_id" content="2433978487">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bootdey">
    <meta name="twitter:creator" content="@bootdey">
    <meta name="twitter:title" content="Preview bootstrap html snippet. Small Newsletter template">
    <meta name="twitter:description"
          content="Preview bootstrap html snippet. Small Newsletter template. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="twitter:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-513.png">
    <meta name="twitter:url" content="https://bootdey.com/snippets/preview/Small-Newsletter-template">
    <meta property="og:title" content="Preview bootstrap html snippet. Small Newsletter template">
    <meta property="og:url" content="https://bootdey.com/snippets/preview/Small-Newsletter-template">
    <meta property="og:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-513.png">
    <meta property="og:description"
          content="Preview bootstrap html snippet. Small Newsletter template. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="msvalidate.01" content="23285BE3183727A550D31CAE95A790AB">
</head>
<body>
<div id="snippetContent">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <table width="100%" height="100%" bgcolor="#5bc0de" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td width="100%" align="center" valign="top" bgcolor="#5bc0de"
                style="background-color:#5bc0de; min-height: 200px;">
                <table>
                    <tbody>
                    <tr>
                        <td class="table-td-wrap" align="center" width="600">
                            <table class="table-row"
                                   style="table-layout: auto; padding-right: 24px; padding-left: 24px; width: 580px; background-color: transparent;"
                                   bgcolor="transparent" width="580" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr height="50px"
                                    style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; height: 50px; background-color: transparent;">
                                    <td class="table-row-td"
                                        style="height: 50px; padding-right: 16px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; vertical-align: middle;"
                                        valign="middle" align="left"><a href="#"
                                                                        style="color: #ffffff; text-decoration: none; padding: 0px; font-size: 18px; line-height: 20px; height: 50px; background-color: transparent;">
                                        Bootdey Newsletter </a></td>
                                    <td class="table-row-td"
                                        style="height: 50px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; text-align: right; vertical-align: middle;"
                                        align="right" valign="middle"><a href="#"
                                                                         style="color: #fff; text-decoration: none; background-color: transparent;">
                                        View inside browser </a></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-space" height="16"
                                   style="height: 16px; font-size: 0px; line-height: 0; width: 580px; background-color: #ffffff;"
                                   width="580" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="table-space-td" valign="middle" height="16"
                                        style="height: 16px; width: 580px; background-color: #ffffff;" width="580"
                                        bgcolor="#FFFFFF" align="left">&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-row" width="580" bgcolor="#FFFFFF"
                                   style="table-layout: fixed; background-color: #ffffff;" cellspacing="0"
                                   cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="table-row-td"
                                        style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 24px; padding-right: 24px;"
                                        valign="top" align="left">
                                        <table class="table-col" align="left" width="532" cellspacing="0"
                                               cellpadding="0" border="0" style="table-layout: fixed;">
                                            <tbody>
                                            <tr>
                                                <td class="table-col-td" width="532"
                                                    style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;"
                                                    valign="top" align="left">
                                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; text-align: center;">
                                                        <img src="https://www.bootdey.com/image/520x280/FF69B4/000000"
                                                             style="border: 0px none #444444; vertical-align: middle; display: block; padding-bottom: 9px;"
                                                             hspace="0" vspace="0" border="0"></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-row" width="580" bgcolor="#FFFFFF"
                                   style="table-layout: fixed; background-color: #ffffff;" cellspacing="0"
                                   cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="table-row-td"
                                        style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;"
                                        valign="top" align="left">
                                        <table class="table-col" align="left" width="508" cellspacing="0"
                                               cellpadding="0" border="0" style="table-layout: fixed;">
                                            <tbody>
                                            <tr>
                                                <td class="table-col-td" width="508"
                                                    style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;"
                                                    valign="top" align="left">
                                                    <table class="header-row" width="508" cellspacing="0"
                                                           cellpadding="0" border="0" style="table-layout: fixed;">
                                                        <tbody>
                                                        <tr>
                                                            <td class="header-row-td" width="508"
                                                                style="font-size: 28px; margin: 0px; font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #000000; padding-bottom: 10px; padding-top: 15px;"
                                                                valign="top" align="left">Hi, Susan Calvin
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">
                                                        Phasellus dictum sapien a neque luctus cursus. Pellentesque sem
                                                        dolor, fringilla et pharetra vitae.
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-space" height="12"
                                   style="height: 12px; font-size: 0px; line-height: 0; width: 580px; background-color: #ffffff;"
                                   width="580" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="table-space-td" valign="middle" height="12"
                                        style="height: 12px; width: 580px; background-color: #ffffff;" width="580"
                                        bgcolor="#FFFFFF" align="left">&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-space" height="12"
                                   style="height: 12px; font-size: 0px; line-height: 0; width: 580px; background-color: #113d68;"
                                   width="580" bgcolor="#113D68" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="table-space-td" valign="middle" height="12"
                                        style="height: 12px; width: 580px; background-color: #113d68;" width="580"
                                        bgcolor="#113D68" align="left">&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-row" width="580" bgcolor="transparent"
                                   style="table-layout: fixed; background-color: transparent;" cellspacing="0"
                                   cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="table-row-td" height="45px" bgcolor="transparent"
                                        style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; height: 45px; padding-left: 24px; padding-right: 24px; background-color: transparent;"
                                        valign="top" align="left">
                                        <table class="table-col" align="left" width="532" cellspacing="0"
                                               cellpadding="0" border="0" style="table-layout: fixed;">
                                            <tbody>
                                            <tr>
                                                <td class="table-col-td" width="532" align="center"
                                                    style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; text-align: center;"
                                                    valign="top"><span
                                                        style="font-family: Arial, sans-serif; line-height: 19px; color: #113d68; font-size: 13px;">click here to unsubscribe</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <style type="text/css">body {
        margin-top: 20px;
    }</style>
    <script type="text/javascript"></script>
</div>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script>
<script>window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'G-F1RTS0P1CD');</script>
</body>
</html>