<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TheLatest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="ie.css"/><![endif]-->
</head>
<body>
<!-- BEGIN wrapper -->
<div id="wrapper">
    <!-- BEGIN header -->
    <div id="header">
        <div class="buffer">
            <div class="buffer">
                <ul>
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Entertainment</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
                <h1><a href="#">TheLatest</a></h1>
                <div class="ad"><a href="#"><img src="images/ad468x60.gif" alt=""/></a></div>
                <ol>
                    <li class="f"><a href="#">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="page.html">Demo Page</a></li>
                    <li><a href="contact.html">Contact Page</a></li>
                </ol>
                <form action="#">
                    <input type="text" name="s" id="s" value=""/>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- END header -->
    <!-- BEGIN body -->
    <div id="body">
        <!-- BEGIN content -->
        <div id="content">
            <div class="buffer">
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Travel</a></h2>
                    <p class="date"><a href="#">Dingexx</a> on Feb 12, 2009 | <a href="#">12 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb1.jpg" alt=""/></a></div>
                    <p>Risus est orci tristique Duis aliquam nunc ut at facilisis pede. At in rhoncus tellus augue morbi
                        tellus tincidunt dui nunc facilisis. Quis pellentesque eget vel Nunc semper vel semper
                        condimentum semper eleifend ...</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Search Engine Optimization</a></h2>
                    <p class="date"><a href="#">Meyang</a> on Feb 10, 2009 | <a href="#">100 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb2.jpg" alt=""/></a></div>
                    <p>Vel illum qui dolorem eum fugiat quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Videos</a></h2>
                    <p class="date"><a href="#">Bang</a> on Feb 12, 2009 | <a href="#">8 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb3.jpg" alt=""/></a></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et ligula. Aliquam risus
                        magna, vehicula nec, ultrices venenatis, fermentum id, sem. Aliquam sem pede, volutpat vitae,
                        consequat vel, eleifend sed, turpis.</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Marketing</a></h2>
                    <p class="date"><a href="#">Goma</a> on Feb 10, 2009 | <a href="#">20 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb4.jpg" alt=""/></a></div>
                    <p>Risus est orci tristique Duis aliquam nunc ut at facilisis pede. At in rhoncus tellus augue morbi
                        tellus tincidunt dui nunc facilisis. Quis pellentesque eget vel Nunc semper vel semper
                        condimentum semper eleifend ...</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Travel</a></h2>
                    <p class="date"><a href="#">Dingexx</a> on Feb 12, 2009 | <a href="#">12 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb5.jpg" alt=""/></a></div>
                    <p>Risus est orci tristique Duis aliquam nunc ut at facilisis pede. At in rhoncus tellus augue morbi
                        tellus tincidunt dui nunc facilisis. Quis pellentesque eget vel Nunc semper vel semper
                        condimentum semper eleifend ...</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Search Engine Optimization</a></h2>
                    <p class="date"><a href="#">Meyang</a> on Feb 10, 2009 | <a href="#">100 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb6.jpg" alt=""/></a></div>
                    <p>Vel illum qui dolorem eum fugiat quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Videos</a></h2>
                    <p class="date"><a href="#">Bang</a> on Feb 12, 2009 | <a href="#">8 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb7.jpg" alt=""/></a></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et ligula. Aliquam risus
                        magna, vehicula nec, ultrices venenatis, fermentum id, sem. Aliquam sem pede, volutpat vitae,
                        consequat vel, eleifend sed, turpis.</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
                <!-- begin post -->
                <div class="post">
                    <h2><a href="#">Marketing</a></h2>
                    <p class="date"><a href="#">Goma</a> on Feb 10, 2009 | <a href="#">20 Comments</a></p>
                    <div class="thumb"><a href="#"><img src="images/_thumb8.jpg" alt=""/></a></div>
                    <p>Risus est orci tristique Duis aliquam nunc ut at facilisis pede. At in rhoncus tellus augue morbi
                        tellus tincidunt dui nunc facilisis. Quis pellentesque eget vel Nunc semper vel semper
                        condimentum semper eleifend ...</p>
                    <a class="readmore" href="#">Read More</a></div>
                <!-- end post -->
            </div>
            <!-- BEGIN bottom -->
            <div id="bottom">
                <!-- begin popular posts -->
                <div class="box">
                    <h2>Popular Posts</h2>
                    <ul>
                        <li><a href="#">Lorem Ipsum Dolor Sit Amer Vel</a></li>
                        <li><a href="#">CDO Bloggers Meet-up January 09</a></li>
                        <li><a href="#">Trip to Cebu this May</a></li>
                        <li><a href="#">Suspendise Aliquam Fermentum</a></li>
                        <li><a href="#">Nunch Semprr Est Quis Ut</a></li>
                    </ul>
                </div>
                <!-- end popular posts -->
                <!-- begin recent posts -->
                <div class="box">
                    <h2>Recent Posts</h2>
                    <ul>
                        <li><a href="#">Semper at in rhoncus tellus augue morbi tellus tincidunt dui nunc facilisis
                            risus magma.</a></li>
                        <li><a href="#">Lorem Ipsum Dolor Sit Amer Vel</a></li>
                        <li><a href="#">Nunch Semprr Est Quis Ut</a></li>
                        <li><a href="#">Suspendise Aliquam Fermentum</a></li>
                    </ul>
                </div>
                <!-- end recent posts -->
                <!-- begin recent comments -->
                <div class="box">
                    <h2>Recent Comments</h2>
                    <ul class="comments">
                        <li><a href="#">mhai:</a> Nunch Semprr Est Quis Ut</li>
                        <li><a href="#">ragpalizer:</a> Suspendise Aliquam</li>
                        <li><a href="#">cloyd:</a> Ipsum Dolor Sit Amer Vel</li>
                        <li><a href="#">kishmair:</a> CDO Bloggers Meet-up</li>
                        <li><a href="#">smiley:</a> Vel Ut Aliquam Fermentum</li>
                    </ul>
                </div>
                <!-- end recent comments -->
            </div>
            <!-- END bottom -->
        </div>
        <!-- END content -->
        <!-- BEGIN sidebar -->
        <div id="sidebar">
            <!-- begin pages -->
            <h2>Pages</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Archives</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!-- end pages -->
            <!-- begin archives -->
            <h2>Archives</h2>
            <ul>
                <li><a href="#">December 2008</a></li>
                <li><a href="#">November 2008</a></li>
                <li><a href="#">October 2008</a></li>
                <li><a href="#">September 2008</a></li>
                <li><a href="#">August 2008</a></li>
            </ul>
            <!-- end archives -->
            <!-- begin blogroll -->
            <h2>Blogroll</h2>
            <ul>
                <li><a href="#">Dart's Photography</a></li>
                <li><a href="#">Entertainment Portal</a></li>
            </ul>
            <!-- end blogroll -->
            <!-- begin categories -->
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Wordpress Themes</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Videos</a></li>
            </ul>
            <!-- end categories -->
            <!-- begin meta -->
            <h2>Meta</h2>
            <ul>
                <li><a href="#">Login</a></li>
            </ul>
            <!-- end meta -->
            <!-- begin tags -->
            <h2>Tags</h2>
            <div class="tags"><a href="#">Link</a></div>
            <!-- end tags -->
            <!-- begin flickr photos -->
            <h2>Flickr Photos</h2>
            <div class="flickr"><a href="#"><img src="images/_flickr1.jpg" alt=""/></a> <a href="#"><img
                    src="images/_flickr2.jpg" alt=""/></a> <a href="#"><img src="images/_flickr3.jpg" alt=""/></a> <a
                    href="#"><img src="images/_flickr4.jpg" alt=""/></a></div>
            <!-- end flickr photos -->
            <!-- begin featured video -->
            <h2>Featured Video</h2>
            <div class="video"><img src="images/_video.jpg" alt=""/></div>
            <!-- end featured video -->
        </div>
        <!-- END sidebar -->
        <div class="break"></div>
    </div>
    <!-- END body -->
    <!-- BEGIN footer -->
    <div id="footer">Copyright &copy; 2009 - <a href="#">Website Name</a> &middot; All Rights Reserved | Template by: <a
            href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="#">Free CSS Templates</a>
    </div>
    <!-- END footer -->
</div>
<!-- END wrapper -->
</body>
</html>
