<!DOCTYPE html>
<html lang="en">
<head itemscope="" itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title itemprop="name">Register Form</title>
    <meta name="description" itemprop="description"
          content="Preview bootstrap html snippet. Form register inside narrow jumbotron. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="keywords"
          content="html, css, javascript, themes, templates, code snippets, ui examples, react js, react-native, plagraounds, cards, front-end, profile, invoice, back-end, web-designers, web-developers">
    <link itemprop="sameAs" href="https://www.facebook.com/bootdey">
    <link itemprop="sameAs" href="https://twitter.com/bootdey">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://bootdey.com/snippets/view/Form-register-inside-narrow-jumbotron" itemprop="url">
    <meta property="twitter:account_id" content="2433978487">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bootdey">
    <meta name="twitter:creator" content="@bootdey">
    <meta name="twitter:title" content="Preview bootstrap html snippet. Form register inside narrow jumbotron">
    <meta name="twitter:description"
          content="Preview bootstrap html snippet. Form register inside narrow jumbotron. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="twitter:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-184.png">
    <meta name="twitter:url" content="https://bootdey.com/snippets/preview/Form-register-inside-narrow-jumbotron">
    <meta property="og:title" content="Preview bootstrap html snippet. Form register inside narrow jumbotron">
    <meta property="og:url" content="https://bootdey.com/snippets/preview/Form-register-inside-narrow-jumbotron">
    <meta property="og:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-184.png">
    <meta property="og:description"
          content="Preview bootstrap html snippet. Form register inside narrow jumbotron. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="msvalidate.01" content="23285BE3183727A550D31CAE95A790AB">
</head>
<body>
<div id="snippetContent">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="container bootstrap snippets bootdey">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="https://getbootstrap.com/examples/jumbotron-narrow/#">Home</a></li>
                <li class="active"><a href="https://getbootstrap.com/examples/jumbotron-narrow/#">Register</a></li>
                <li><a href="https://getbootstrap.com/examples/jumbotron-narrow/#">About</a></li>
            </ul>
            <h3 class="text-muted prj-name">TheLatest</h3></div>
        <div class="jumbotron text-center" style="min-height:400px;height:auto;">
            <div class="col-md-10 col-md-offset-2">
                <form action="{% url 'register_view' %}" method="post" class="form-horizontal" role="form">
                    <div class="form-group text-center">
                        <div class="col-sm-10 reg-icon"><span class="fa fa-user fa-3x">Sign up</span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"><input type="text" class="form-control" id="name" placeholder="Name"
                                                      name="first_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"><input type="email" class="form-control" id="inputEmail3"
                                                      placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"><input type="email" class="form-control" id="Username"
                                                      placeholder="Username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"><input type="password" class="form-control" id="inputPassword3"
                                                      placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"><input type="password" class="form-control" id="inputPassword3"
                                                      placeholder="Confirm password" name="confirm_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-info"><span
                                    class="glyphicon glyphicon-share-alt"></span> Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style type="text/css">.jumbotron label {
        font-size: 12px;
    }

    .reg-icon {
        color: #5bc0de;
        font-weight: bold;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #5bc0de;
    }

    .prj-name {
        font-weight: bold;
        color: #5bc0de;
    }</style>
    <script type="text/javascript"></script>
</div>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script>
<script>window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'G-F1RTS0P1CD');</script>
</body>
</html>